@font-face {
    font-family: Montserrat;
    src: url(fonts/montserrat/Montserrat-Regular.ttf);
}

body,.site-container{
    padding:0; margin:0;
    height: 100vh;
    width: 100vw;
    font-family: Montserrat, Helvetica, sans-serif;
}

#site-container{
    display: grid;
    grid-template-columns: 1fr 100px 500px 100px 1fr;
    grid-template-rows: 1fr 1fr 1fr 50px;
    align-items: center;
    background-color: #102027;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    color:white;
}

/* HIDDEN ELEMENTS */
#list-3,#list-2,#list-1,#list-0{
    display: none;
}
#current-view{
    display: none;
}

/* TITLE */
.site-title{
    grid-column: 3/4;
    grid-row: 1/2;
    text-align: center;
    font-size: 2em;
    color:white;
    -webkit-text-stroke: 2px black;
}

/* MAIN BODY */
#previous-view{
    display: none;
    grid-row: 2/3;
    grid-column: 2/3;
}
#next-view{
    grid-column: 4/5;
    grid-row: 2/3;
}

#list-4,#list-3,#list-2,#list-1,#list-0{
    grid-column: 3/4;
    grid-row: 2/3;
}

.list-container{
    text-align: center;
}

.listinput{
    width:90%;
    font-size: 1.8em;
    line-height: 2em;
    padding:15px;
    border-radius: 20px;
}

.chevron{
    width: 80px;
    cursor: pointer;
}
.tick{
    height: 2em;
    margin-left:-20px;
    float:right;
    cursor: pointer;
}
.congratulations-message{
    font-size: 1.5em;
    color:white;
}


/* FOOTER */
#background-options{
    grid-column: 1/2;
    grid-row: 4/5;
    text-align: left;
    padding-left:2em;
}

.settings-text{
    padding:0 10px;
    font-size: 1.5em;
    color:white;
}

#settings-container{
    grid-column: 3/4;
    grid-row: 4/5;
    text-align: center;
}

.settings-link{
    padding:0 10px;
    font-size: 1.5em;
    text-decoration: underline;
    color:white;
}
.settings-link:hover{
    cursor: pointer;
}

#more-info{
    grid-column: 5/6;
    grid-row: 4/5;
    text-align: right;
    font-size: 1.5em;
    color:white;
    padding-right:2em;
}

